<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chessmob.chessmob_android"
    android:versionCode="22"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chessmob.chessmobandroid.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chessmob.chessmobandroid.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.chessmob.chessmobandroid.GameActivity"
            android:label="@string/title_activity_game"
            android:noHistory="true"
            android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.chessmob.chessmobandroid.GameSettings" />
        </activity>
        <activity
            android:name="com.chessmob.chessmobandroid.GameSettings"
            android:label="@string/title_activity_game_settings"
            android:screenOrientation="portrait" 
            android:noHistory="true">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.chessmob.chessmobandroid.MainActivity"  />
        </activity>
        <activity
            android:name="com.chessmob.chessmobandroid.Leaderboard"
            android:label="@string/title_activity_leaderboard" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>